<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title>Books</title>
    </head>
    <body>
        <a href="index.html">
            <h1 class="header">
                Theo von Kesselstatt
            </h1>
        </a>
        <div class="subheader">
            <a href="index.1.html">
                <button>
                    Social life
                </button>
            </a>
            <a href="index.2.html">
                <button>
                    Books
                </button>
            </a>
            <a href="index.3.html">
                <button>
                    Economics
                </button>
            </a>
        </div>
        <h3 class="subsection">
            Books
        </h3>
        <p class="extra_margin">
            As a kid, my parents induced me into reading every day. I used to spend the minutes or hours of everyday reading my stories for kids,
            eventually "My First Larousse" became my favourite type of books, or the argentine comic "Gaturro", that I read back and forth uncountable
            times. Somewhere along my adolescence I lost this habit, but I continued to enjoy my Literature classes, where I came to read amazing books
            like the Iliad, and other classics. Later on, in the same Literature classes I came upon my actual favorite author, Borges, and I became
            passionate about his work. But I did not recover my reading habit until January 1st, 2019. Ever since, I read everyday, and can no longer
            imagine not reading anymore. Here is a list of my 10 favorite books, not in any particular order.<br><br>
            <table>
              <tr>
                <th>Title</th>
                <th>Author</th>
              </tr>
              <tr>
                <td>Ficciones</td>
                <td>Jorge Luis Borges</td>
              </tr>
              <tr>
                <td>Siddhartha</td>
                <td>Herman Hesse</td>
              </tr>
              <tr>
                <td>La Sombra del Viento</td>
                <td>Carlos Ruiz Zafon</td>
              </tr>
              <tr>
                <td>Narciso y Goldmundo</td>
                <td>Herman Hesse</td>
              </tr>
              <tr>
                <td>Sapiens</td>
                <td>Yuval Noah Harari</td>
              </tr>
              <tr>
                <td>The Day Nietzsche Wept</td>
                <td>Irvin D. Yalom</td>
              </tr>
              <tr>
                <td>Steppenwolf</td>
                <td>Herman Hesse</td>
              </tr>
              <tr>
                <td>Aleph</td>
                <td>Jorge Luis Borges</td>
              </tr>
              <tr>
                <td>Spinoza Problem</td>
                <td>Irvin D. Yalom</td>
              </tr>
              <tr>
                <td>Las Fuerzas Morales</td>
                <td>Jose Ingenieros</td>
              </tr>
            </table>
        </p>
    </body>
</html>
